[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prompt-toolkit = "*"
openai = "*"
pygments = "*"
tomlkit = "*"
toml = "*"
isort = "*"
tiktoken = "*"

[dev-packages]
black = "*"
flit = "*"
mypy = "*"
types-pygments = "*"

[requires]
python_version = "3.10"
