[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
prompt-toolkit = "*"
openai = "*"
pygments = "*"
flit = "*"
tomlkit = "*"
toml = "*"
isort = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.8"
