[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
importlib-metadata = "<7"
openai = "<1"
prompt-toolkit = "<4"
pygments = "<3"
retry = "<1"
tiktoken = "<1"
tomlkit = "<1"

[dev-packages]
black = "*"
flit = "*"
isort = "*"
mypy = "*"
types-pygments = "*"
types-retry = "*"
pygount = "*"
pylint = "*"
pytest = "*"

[requires]
python_version = "3.10"
